# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
.flattened-pom.xml
.m2/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
*.iml

# Spring Boot
.springBeans

# Gradle
.gradle/
build/

# Node
node_modules/
npm-debug.log
